* { 
    box-sizing: border-box; 
  } 
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  .content-wrap {
    padding-bottom: 40vh;    /* Footer height */
  }
  html { 
    /* overflow: hidden !important; */
    min-height: 100%; 
  } 
  .signMainWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .userTopText{
    text-align: left;
    width: 100%;
    /* border: solid red 1px; */
  }
 
  
  .signupOuterWraper{
    margin-top: 50px;
padding: 15px;
    border: black solid .5px;
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  body { 
    /* overflow-x: hidden; */
    width: 100vw;
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
    background-color: #f9f9f9;
  }
  header {
    display: flex;
    flex-direction: column;
    height: 130px;
    max-height: 130px;
    width: 100vw;
  }
  .showMainWrapper{
    margin-top: 25px;
  }
  main{
    background-color: #f9f9f9;
    margin-top: -5px;
    min-height: 70vh;
  }
  footer{
    padding: 50px;
    color: white;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 100vw;
    min-width: 100vw;
    /* margin-top: auto; */
    background-color: #252f3d;
    margin-bottom: 0;
    /* margin-top: 47.1vh; */
  /* negative value of footer height */
    height: 30%;
    min-height: 30%;
    clear: both;           /* Footer height */
  }
  .rowDiv{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    position: relative;
    width: 1000px !important;
    min-width: 1000px;
  }
  .top1{
    display: flex;
  }
  .top3 {
    display: flex;
  }
  .topHalf {
    background-color: #151920;
    width: 100%;
    overflow: hidden;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* justify-content: space-between; */
  }
  .bar:hover {
    cursor: pointer;
    border: white solid 1px;
  }
  .loginImg{
    width: 140px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: -50px;
    /* background-color: darkblue; */
  }
  .amazonLogo{
    text-decoration: none !important;
    background-image: url(https://pngimg.com/uploads/amazon/amazon_PNG11.png);
    background-repeat: no-repeat;
    max-width: 130px;
    width: 130px;
    height: 50px;
    background-size: 130px;
  }
  .results{
    /* border: solid blue 1px; */
    /* display: inline-block; */
    min-width: 600px;
    width: 600px;
  }
  .resultsWrapper{
    width: 100%;
    min-width: 80%;
    overflow: hidden;
  }
  .relatedSearch{
    display: inline-block;
    /* border: solid green 1px; */
    width: 250px;
    min-width: 250px;
  }
  .indexbtn{
    width: 150px !important;
    min-width: 150px !important;
  }
  .indexRightSplit{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* border: red solid 1px; */
    width: 900px;
    flex-wrap: wrap;
  }
  .showImage{
    size: 60%;
  }
  .card-img-top {
    height: 300px;
    width: 286px !important;
  }
  textarea {
    width: 500px;
    height: 200px;
  }
  .displayResults{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: red solid 2px; */
    padding: 5px;
    /* margin-bottom: 15px; */
    /* width: 100%; */
    /* min-width: 80%;  */
  }
  .homeBackground{
    background-color: #f9f9f9;
min-width: 100%;

  }
  /* .carousel-inner{
    height: 20vh !important;
  } */
  
  .upperOptions {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TopHalfItem2{
    color: white;
    display: flex;
    font-size: .8em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-width: 150px;
  }
  .outerContainer {
    width: 1000px !important;
    position: relative;
  }
  .cardHolder{
    margin-top: -250px;
    display: flex;
    width: 1070px;
    justify-content: space-around;
    position: relative;
    /* border: solid red 2px; */
  }
  .indexOuterSplit{
    display: flex;
    height: 100%;
    justify-content: center;
    /* border: solid green 2px; */
    /* width: 50vw; */
    /* max-width: 50vw; */
    /* border: solid red 1px; */
  }
  .showOutterWrapper{
    display: flex;
    justify-content: space-around;
  }
  .showImage{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
  }
  .showItemInfo{
    /* border: black .5px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .showItemInfo{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
  }
  .showEdit{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 650px;
    padding: 30px;
    border: black .5px solid;
  }
  .green{
    color: green;
  }
  .roundButton{
    border-radius: 20% !important;
    width: 150px !important;
    margin-left: 30px;
  }
  .yellow {
    background-color: #ffd815!important;
  }
  .orange {
    background-color:  #ffa41c !important;
  }
  .showTopBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .already{
    text-align: left;
    font-size: 14px;
  }
  .priceDisplay{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .price{
    color: red;
    font-size: 1.2em;
  }
  hr {
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:rgb(203, 203, 203);
  height: 1px;
  }
  .showButtonDiv{
    background-color: rgb(203, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .used {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    border: .5px black solid;
    height: 200px;
    background-color: rgb(240, 230, 230);
  }
  input {
    border: 0;
    border-bottom: solid;
  }
  .terms{
    font-size: 13px;
  }
fieldset > label{
    width: 100% !important;
  }
  label > input {
    width: 100%;
    border: solid black 1px;
  }
  fieldset > input {
    background-color: gold;
    border: 0;
    width: 100%;
  }
 
  .bottomInfo{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
align-items: center;
    width: 380px;
  }
  .copyright{
    font-size: 12px;
  }
  .edit-outmost-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .editOuterWrapper{
    margin-top: 50px;
    height: 50vh;
    width: 800px;
    /* border: solid blue 1px; */
    /* border: 4px red solid; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:flex-start;
    align-items: center;
  }
  .showButtonSmallDiv{
    display: flex;
    width: 50vh;
    justify-content: space-around;
    align-items: center;
  }
  .indexInnerSplit {
    width: 300px;
    min-width: 300px;
    /* background-color: blue; */
    /* border: green solid 1px; */
  }
  .indexInnerSplit > span:hover {
    cursor: pointer;
    color: orange;
    text-decoration: underline;
    
  }
  .card-text{
    text-overflow: ellipsis;
    height: 200px;

    /* Required for text-overflow to do anything */
    white-space: normal;
    overflow: hidden;
  }
  .priceSearch{
    display: flex;
    width: 50px;
  }
  .priceSearch > input{
    width: 60px
  }
.bold{
  font-weight: bold;
}
.newToAmazon{
  display: flex;
  width: 34%;
 white-space: nowrap;
}
.newToAmazonP{
  font-size: 14px;
  margin-top: 4px;
}
  .star-background{
    color: white;
    background-color: grey;
    width: 50%;
  }
  .helloSelect > span {
    text-align: left;
  }
  .allButtonDiv{
    display: flex;
    align-items: flex-end;
  }
  .topHalfItem3{
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: row;
  }
  .topHalfItem3 > input{
    width: 100%;
    margin-top: 5px
  }
  .allButton{
    cursor: pointer;
    width: 60px;
    height: 36.5px; 
    margin-right: -2px;
    border-top: none;
    border-bottom: none;
    margin-top: 3.5px;
    /* max-height: 38px; */
    border-radius: 10% 0% 0% 10%;
    background-color: lightgrey;
  }
  .topInput {
    font-size: 1.2em;
    height: 38px;
    max-height: 38px;
    min-width: 200px;
    max-width: 100%;
  }
 
  .magnifyingGlass {
    text-decoration: none !important;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 37px; 
    margin-top: 4px;
    /* max-height: 38px; */
    border-radius: 0% 5% 5% 0%;
    background-color: orange;
  }
  
  .topHalfItem4{
    display: flex;
    font-size: 1.8em;
    cursor: pointer;
    width: 40px;
    min-width: 40px;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    /* border: white solid 1px; */
  }
  .topHalfItem5{
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-width: 120px;
    max-width: 120px;
  }
  .topHalfItem6{
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    font-size: .8em;
  }
  .topHalfItem7{
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    justify-content: fl;
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    /* min-width: 70px; */
  }
  .cartIcon {
    margin-left: -10px;
    font-size: 2em;
  }
  .bottomHalf{
    background-color: #252e3c;
    width: 100%;
    min-width: 100%;
    /* min-width: 800px; */
    /* border: solid white 1px; */
    overflow: hidden !important;
    height: 55px;
    flex-wrap:nowrap;
    display: flex;
    flex-direction: row;
    align-items: center !important;
white-space: nowrap;
    color: white;
  }
  .logoutButton{
    margin-right: 25px;
  }
  .bottom-half-box{
    width: 100%;
    
    overflow: hidden !important;
  }
  .bottom-half-box > ul > li {
    margin-top: 10px;
    padding: 5px;
    display: inline-block
  }
  /* .row1Links{
    position: absolute;
    left: 78px;
  }
  .row2Links{
    position: absolute;
    left: 260px;
  }
  .row3Links{
    position: absolute;
    left: 485px;
  }
  .row4Links{
    position: absolute;
    left: 755px;
  } */
  footer span {
    font-weight: bold;
    font-size: 1.2em;
  }
  footer ul {
    margin-left: -40px;
  }
  footer li {
    left: 10px;
    list-style-type: none;
    line-height: 30px;
    font-size: .8em;
  }
  footer li:hover{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
  }
  
  